<div class="sidebar-nav">
    {{ if eq .Section "docs" }}
    <h3>Documentation</h3>
    <ul>
        <li><a href="/docs/">Overview</a></li>
        <li>
            <strong>Getting Started</strong>
            <ul>
                <li><a href="/docs/getting-started/">Getting Started</a></li>
            </ul>
        </li>
        <li>
            <strong>Language Constructs</strong>
            <ul>
                <li><a href="/docs/constructs/">Overview</a></li>
                <li><a href="/docs/constructs/variables/">Variables</a></li>
                <li><a href="/docs/constructs/functions/">Functions</a></li>
            </ul>
        </li>
        <li>
            <strong>Tools</strong>
            <ul>
                <li><a href="/docs/tools/">Overview</a></li>
            </ul>
        </li>
        <li>
            <strong>Examples</strong>
            <ul>
                <li><a href="/docs/examples/">Examples</a></li>
            </ul>
        </li>
    </ul>
    {{ end }}
</div> 